@layout('layouts/empty')

@section('title')
  SEMA - Register
@endsection

@section('current-class')

 register-page

@endsection

@section('custom-style-app-container')



@section('content')

@endsection
