<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Followers-Socio_Network</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app-container">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
          <i class="fab fa-typo3"></i>
        </div>
        <div class="name">
          Remy N
        </div>
        <div class="icon">
          <i class="fas fa-chevron-down"></i>
        </div>

      </div>
      <div class="groups">
        <div class="group">
          <div class="title">title
            <ul>
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>

          </div>

        </div>

      </div>

    </section>
    <section id="content-container">
      <div class="search-header">
        <div class="search-box">
          <input type="text" name="" value="">
          <div class="icon-section">
            <div class="noti">
              <i class="fas fa-bell"></i>
              <div class="noti-number active">
                       9+
              </div>
            </div>
            <div class="comments">
              <i class="fas fa-comment"></i>
              <div class="noti-number active">
                       9
              </div>
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
                <div class="noti-number active">
                         9+
                </div>
            </div>




          </div>

        </div>

      </div>
      <div class="content-area">
        <section class="compose-section">
          <textarea name="name" rows="8" cols="80"></textarea>
          <div class="user-img">

          </div>
          <div class="buttons">
            <div class="button photo-btn">
                 <i class="fas fa-camera-retro"></i>
            </div>
            <div class="button video-btn">
                  <i class="fas fa-video"></i>
            </div>
            <div class=" button send-btn">
                  <i class="fas fa-paper-plane"></i>
            </div>
          </div>

        </section>
        <section id="updates">
          <!--single update -->
          <div class="update-container">
              <div class="author-info">
                <a href="#"class="user-img">

                </a>
                <div class="info">
                  <a href="#">James Doe </a> shared a <a href="#"> story</a>

                </div>

              </div>
              <div class="media">
                <div class="image" style="background:url('https://t3.ftcdn.net/jpg/01/52/17/06/240_F_152170627_nD1vV4VzKURo8O9kU3XdNdvT6qA4ascE.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;">

                </div>

              </div>
              <div class="padding-container">

                <div class="grey-container">
                  <div class="update-info">
                  <h3> How to become a developer?</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                </div>
                  <div class="update-stats">
                      <div class="icon-section">
                        <div class="like-circle">
                          <i class="fas fa-thumbs-up"></i>
                        </div>
                      </div>
                      <div class="other-users">
                          Mike and 40 others liked Update
                      </div>
                      <div class="comment-stats">
                        5 Comments
                      </div>

                  </div>
                  <div class="compose-comment">
                    <i class="fas fa-comment"></i>
                    <textarea name="name" rows="8" cols="80"></textarea>
                      <div class="buttons">
                        <div class="repost-btn">
                          <i class="fas fa-redo"></i>
                        </div>
                        <div class="like-btn">
                          <i class="fas fa-thumbs-up"></i>
                        </div>

                      </div>


                  </div>


              </div>

             </div>


          </div>
          <div class="update-container">
              <div class="author-info">
                <a href="#"class="user-img">

                </a>
                <div class="info">
                  <a href="#">James Doe </a> shared a <a href="#"> story</a>

                </div>

              </div>
              <div class="media">
                <div class="image" style="background:url('https://t3.ftcdn.net/jpg/01/52/17/06/240_F_152170627_nD1vV4VzKURo8O9kU3XdNdvT6qA4ascE.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;">

                </div>

              </div>
              <div class="padding-container">

                <div class="grey-container">
                  <div class="update-info">
                  <h3> How to become a developer?</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                </div>
                  <div class="update-stats">
                      <div class="icon-section">
                        <div class="like-circle">
                          <i class="fas fa-thumbs-up"></i>
                        </div>
                      </div>
                      <div class="other-users">
                          Mike and 40 others liked Update
                      </div>
                      <div class="comment-stats">
                        5 Comments
                      </div>

                  </div>
                  <div class="compose-comment">
                    <i class="fas fa-comment"></i>
                    <textarea name="name" rows="8" cols="80"></textarea>
                      <div class="buttons">
                        <div class="repost-btn">
                          <i class="fas fa-redo"></i>
                        </div>
                        <div class="like-btn">
                          <i class="fas fa-thumbs-up"></i>
                        </div>

                      </div>


                  </div>


              </div>

             </div>


          </div>
          <div class="update-container">
              <div class="author-info">
                <a href="#"class="user-img">

                </a>
                <div class="info">
                  <a href="#">James Doe </a> shared a <a href="#"> story</a>

                </div>

              </div>
              <div class="media">
                <div class="image" style="background:url('https://t3.ftcdn.net/jpg/01/52/17/06/240_F_152170627_nD1vV4VzKURo8O9kU3XdNdvT6qA4ascE.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;">

                </div>

              </div>
              <div class="padding-container">

                <div class="grey-container">
                  <div class="update-info">
                  <h3> How to become a developer?</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                </div>
                  <div class="update-stats">
                      <div class="icon-section">
                        <div class="like-circle">
                          <i class="fas fa-thumbs-up"></i>
                        </div>
                      </div>
                      <div class="other-users">
                          Mike and 40 others liked Update
                      </div>
                      <div class="comment-stats">
                        5 Comments
                      </div>

                  </div>
                  <div class="compose-comment">
                    <i class="fas fa-comment"></i>
                    <textarea name="name" rows="8" cols="80"></textarea>
                      <div class="buttons">
                        <div class="repost-btn">
                          <i class="fas fa-redo"></i>
                        </div>
                        <div class="like-btn">
                          <i class="fas fa-thumbs-up"></i>
                        </div>

                      </div>


                  </div>


              </div>

             </div>


          </div>

        </section>

      </div>

    </section>
    <section id="messenger">

    </section>


</div>
<script src="/js/components/vendor.js"></script>
<script src="/js/components/firstComp.js"></script>
</body>
</html>
