<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app-container">
    <section>
      <div class="logo"></div>
      <div class="title"></div>
      <div class="subtitle">

        <p>
        Testing the views.
        </p>
      </div>
    </section>
    <div id="app">

    </div>
    <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</div>
</body>
</html>
