
.app-container.home-page{
  display: grid;
  grid-template-columns: 15% 65% 20%;
  
  #left-menu{
    border-right: 2px solid #e6e9ef;
    .account-dropdown{
      display: grid;
      grid-template-columns:1fr 3fr 1fr;
      padding: 10px;


      .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        .fab{
          font-size: 2rem;
        }
      }
      .name{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-chevron-down{
          font-size: 0.8rem;
        }
      }
    }
    .groups{
      padding: 15px;
      .group{
        .title{
          padding: 10px 0;
          font-size: 0.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        ul{
          padding: 0;
          list-style-type: none;
          li{
            color: #818387;
            padding: 10px 0;
            font-size: 0.7rem;

          }
        }
      }
    }
  }
  #content-container{
    overflow: hidden;
    height: 800px;
    .content-area{
      box-sizing: content-box;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 0 15px 0 8px;
    }
    .search-header{
      position: relative;
      padding: 10px;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      input[type="text"]{
        margin-bottom: 0;
      }
      .search-box{
        width: 600px;
        margin: 0 auto;

      }
    }
    .compose-section{
      width: 600px;
      margin: 0 auto;
      padding: 35px 0;
      position: relative;


      .user-img{
        background: url("https://randomuser.me/api/portraits/women/56.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        top: 20px;
        left: -15px;
      }
      .buttons{
        position: absolute;
        right: 15px;
        bottom: 20px;
        display: flex;

        .button{
          background: #fff;
          height: 40px;
          width: 40px;
          right: 15px;
          margin-left: 15px;
          display: flex;
          border-radius:50%;

          font-size: 1rem;
          align-items: center;
          justify-content: center;
          color: $htext;
          -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          &.send-btn{
            color: white;
            background: rgba(50,173,255,1);
            background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)),color-stop(100%, rgba(1,120,255,1)));
            background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
          }
          .fa-paper-plane{
            transform: rotate(50deg);
          }

        }
      }
    }

    .icon-section{
      position: absolute;
      top: 15px;
      right: 0;
      font-size: 1.2rem;
      padding-right: 15px;
      & > div{
        display: inline-block;
        color:#797979;
        padding: 0 5px;
        position: relative;
      }

      .noti-number{
        display: none;
        position: absolute;
        background: $red;
        color: white;
        font-size: 0.6rem;
        top: -7px;
        right: -7px;
        padding: 2px 3px;
        border: 3px solid white;
        border-radius: 5px;
        &.active{
          display: block;
        }
      }
    }


    #updates{
      .update-container{
        max-width: 630px;
        width: 100%;
        margin: 0 auto;
        .author-info{
          display: flex;
          padding: 0 15px;
          .user-img{
            display: inline-block;
            background: url("https://randomuser.me/api/portraits/women/56.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 5px solid white;

          }
          .info{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            color: $ptext;
            a{
              color: $htext;
              text-decoration: none;
              font-weight: 700;
              margin:0 10px;
            }
          }
        }
        .media{
          position: relative;
          .image{
            position: relative;
            z-index: 2;
            margin-bottom:25px 0 50px;

            height: 300px;
            width: 100%;
            border-radius: 5px;
            -webkit-box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);
            -moz-box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);
            box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);
          }
        }
        .padding-container{
          padding: 0 15px;
        }
        .grey-container{
          z-index: 1;
          padding: 50px 20px;
          position: relative;
          top: -50px;
          background: $backgroundContent;
          -webkit-box-shadow: 0px 21px 48px -21px rgba(59,71,99,0.5);
          -moz-box-shadow: 0px 21px 48px -21px rgba(59,71,99,0.5);
          box-shadow: 0px 21px 48px -21px rgba(59,71,99,0.5);
          .update-info{
            h3{
              text-transform: uppercase;
              font-weight: 600;
              color: $htext;
              line-height: 1.5;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }
            p{
              color: $htext;
              line-height: 2;
              font-size: 0.8rem;
              margin-bottom: 1rem;
            }
          }
          .update-stats{
            display: flex;
            padding: 15px 0;
            border-top: 2px solid $border;
            border-bottom: 2px solid $border;
            margin-bottom: 30px;
            .icon-section{
              position: relative;
              top: -1px;

              .like-circle{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                font-size: 0.6rem;
                color: white;
                border-radius: 50%;
                background: linear-gradient(to bottom, #32adff 0%, #0178ff 100%);
                .fa-thumbs-up{
                  position: relative;
                  top: -1px;
                }
              }
            }
            .other-users{
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              color: $veryLightText;
              font-size: 0.8rem;
            }
            .comment-stats{
              display: flex;
              width: 30%;
              color: $veryLightText;
              justify-content: flex-end;
              align-items: center;
              font-size: 0.8rem;
            }
          }
          .compose-comment{
            display: flex;
            justify-content: space-between;
            position: relative;
            .fa-comment{
              z-index: 1;
              position: absolute;
              bottom: 0;
              font-size: 2rem;
              color: white;
            }
            textarea{
              position: relative;
              z-index: 2;
              border: none;
              height: 40px;
              width: 100%;
              border-radius: 20px;
            }
            .buttons{
              display: flex;
            }
            .repost-btn{
              height: 40px;
              width: 40px;
              background: white;
              box-shadow: $boxshadowbtns;
              color: $darksideBlue;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              margin-left: 20px;
            }
            .like-btn{
              height: 40px;
              width: 40px;
              background: linear-gradient(to bottom, #32adff 0%, #0178ff 100%);
              box-shadow: $boxshadowbtns;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              margin-left: 20px;
              .fa-thumbs-up{
                position: relative;
                top: -2px;
              }
            }

          }
        }

      }

    }
  }
  #messenger{
    height: 800px;
    background: #0178FF;
    overflow: hidden;
    .messenger-header{

      box-shadow: 0 0 15px -3px #1b1b1b;
      display: flex;
      height: 53.33;
      background: linear-gradient(to right, rgba(1,120,255,1)0%, rgba(50,173,255,1)100%);
      font-size: 1.2rem;
      padding: 10px 0;
      color: white;
      .messenger-icon{
        height: 33.33px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        padding-left: 15px;

      }
      .options-icon{
        display: flex;
        align-items: center;
        justify-content:flex-end;
        width: 30%;
        padding-right: 15px;

      }
      .title{
        width: 50%;
        color: white;
        text-transform: capitalize;
        font-weight: 400;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
      }

    }
    .users{
      overflow: hidden;
      height: 668.67px;
      .users-container{
        overflow: auto;
        height: 100%;
        width: 100%;
        box-sizing: content-box;
        padding: 0 15px;

      }
        .user{
            padding: 10px 0;
            display: flex;
            transition: all 0.5s ease-in-out;
            &.active{
              .user-img{
                opacity: 1;
              }
              .username{
                font-weight: 700;
                color: white;
              }
              .conversation{
                display: flex;
              }
            }
            &:hover{
              cursor: pointer;
              .user-img{
                opacity: 1;
              }
              .username{
                transition: all 0.5s ease-in-out;
                font-weight: 700;
                color: white;
              }
            }
            .user-img{
              width: 20%;
              transition: all 0.5s ease-in-out;
              opacity: 0.8;

            }
            .username{
              width: 60%;
              padding-left: 15px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              color: #99ccff;
              font-weight: 300;
              font-size: 0.9rem;

            }
            .conversation{
              width: 20%;
              color: white;
              display: none;
              justify-content: center;
              align-items: center;
              justify-content: flex-end;
            }

          }
    }
    .search{
      background: $searchBG;
      padding: 20px 15px;
      input[type="text"]{
        width: 100%;
        background: $searchInputBG;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        padding: 10px;
        color: white;
        &::placeholder{
          opacity: 1;
          color: #78b3ef;
        }
      }
    }
  }

}
