$textfield: #F3F3F3;
$backgroundContent: #F6F6F6;
$red: #FF3658;
$darksideBlue: #0178FF;
$lightsideBlue: #327AEF;
$ptext: #797979;
$htext: #3c3c3c;
$border: #EBEBEB;
$searchBG: #1E88F4;
$searchInputBG: #0473E3;
$veryLightText: #a1a5ac;
$boxshadowbtns: 0 2px 15px -3px #bfbfbf;
$cursive:'Galada', cursive;
$sans-serif:'Roboto', sans-serif;
