@import url('https://fonts.googleapis.com/css2?family=Galada&family=Roboto&display=swap');
@import "variables";
@import "pages/profile";
@import "pages/welcome";
@import "pages/home";
@import "auth/auth";

* {
  box-sizing: border-box;
}

body {
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: rgba(23,35,104,1);
  background: -moz-linear-gradient(-45deg, rgba(23,35,104,1) 0%, rgba(226,73,175,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(23,35,104,1)), color-stop(100%, rgba(226,73,175,1)));
  background: -webkit-linear-gradient(-45deg, rgba(23,35,104,1) 0%, rgba(226,73,175,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(23,35,104,1) 0%, rgba(226,73,175,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(23,35,104,1) 0%, rgba(226,73,175,1) 100%);
  background: linear-gradient(135deg, rgba(23,35,104,1) 0%, rgba(226,73,175,1) 100%);
}
#app{
  width: 100%;
}

.app-container {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  height: 800px;
  border-radius: 5px;
  margin: 0 auto;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}

input[type="text"],
input.text {
  background: #F3F3F3;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  max-height: 75px;
  background: $textfield;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 1.2rem;
}

.default-form {}

.error-box {
  display: none;
  background: red;
  color: white;
  padding: 15px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;

  &.active {
    display: block;
  }
}

.form-group {
  & > .error {
    border: 1px solid red;
  }
}

button {
  width: 100%;
  min-width: 200px;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 4px;
  padding: 15px 0;
  color: white;
  background: #32adff;
  background: rgba(50,173,255,1);
  background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)), color-stop(100%, rgba(1,120,255,1)));
  background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
  background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
  background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
  cursor: pointer;
}

.notifications {
  display: none;

  &.welcome {
    background: #a7f442;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-family: $cursive;
    text-transform: capitalize;
    z-index: 100;
  }

  &.active {
    display: block;
  }
}
